.choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid rgba(86,165,235,0.25);
    background-color: #ffffff;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(96, 86, 235, 0.265);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
    font-weight: 700;
}

.choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color: #673294;
    color: #ffffff;
    font-weight: 700;
}

.choice-text {
    padding: 1.5rem;
    display: flex;
    align-items: center;
    width: 100%;
}

.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 1.6rem;
}

.hud-main-text {
    text-align: center;
}

#progressBar {
    width: 20rem;
    height: 2rem;
    border: 0.3rem solid #283593;
    margin-top: 2.5rem;
}

#progressBarFull {
    height: 1.4rem;
    background-color: #283593;
    width: 0%;
}