.choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid rgba(86,165,235,0.25);
    background-color: #ffffff;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(96, 86, 235, 0.265);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
    font-weight: 700;
}

.choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color: blue;
    color: #ffffff;
    font-weight: 700;
}

.choice-text {
    padding: 1.5rem;
    display: flex;
    align-items: center;
    width: 100%;
}

.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}